<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <userSettings>
        <SourceTree.Properties.Settings>
            <setting name="MainWindowWidth" serializeAs="String">
                <value>1441</value>
            </setting>
            <setting name="MainWindowHeight" serializeAs="String">
                <value>759</value>
            </setting>
            <setting name="MainWindowState" serializeAs="String">
                <value>Maximized</value>
            </setting>
            <setting name="LogOrdering" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LogIncludeRemoteBranches" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainWindowLeft" serializeAs="String">
                <value>189</value>
            </setting>
            <setting name="MainWindowTop" serializeAs="String">
                <value>154</value>
            </setting>
            <setting name="GitWhichOne" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="GitFetchPrune" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowModifyConfigFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultFullName" serializeAs="String">
                <value>alitarlaci1981</value>
            </setting>
            <setting name="DefaultEmail" serializeAs="String">
                <value>62042842+alitarlaaci1981@users.noreply.github.com</value>
            </setting>
            <setting name="LastOpenTabIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DiffTool" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="MergeTool" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="SSHClientType" serializeAs="String">
                <value>PuTTY</value>
            </setting>
            <setting name="ProxyServerMode" serializeAs="String">
                <value>OperatingSystem</value>
            </setting>
            <setting name="HgWhichOne" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="EnableGitSupport" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableHgSupport" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HgPostPullAction" serializeAs="String">
                <value>Update</value>
            </setting>
            <setting name="GitCommitMergedChangesImmediately" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainWindowScreenDeviceName" serializeAs="String">
                <value>\\.\DISPLAY1</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value />
            </setting>
            <setting name="OfferToCreateBookmarks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FileStatusSort" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="CommitPaneHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IsURIAssociated" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LegacyAccountPersistenceServiceLoadEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HgSystemPath" serializeAs="String">
                <value />
            </setting>
            <setting name="GitSystemPath" serializeAs="String">
                <value>C:\Program Files\Git</value>
            </setting>
            <setting name="SidebarIsOpen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NotificationGettingStartedShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PreviousCommitMessages" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>Addee a new Home page</string>
                        <string>added another home page</string>
                        <string>added a new home page</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="MergeCustomCmd" serializeAs="String">
                <value />
            </setting>
            <setting name="DiffCustomCmd" serializeAs="String">
                <value />
            </setting>
            <setting name="IgnoreFilePattern" serializeAs="String">
                <value>*package-lock.json,*gemfile.lock,*podfile.lock,*cartfile.resolved</value>
            </setting>
            <setting name="DiffCustomArgs" serializeAs="String">
                <value>\"$LOCAL\" \"$REMOTE\"</value>
            </setting>
            <setting name="MergeCustomArgs" serializeAs="String">
                <value />
            </setting>
        </SourceTree.Properties.Settings>
    </userSettings>
</configuration>